@model IEnumerable<GameReview.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}

<h1 class="text-center">Reviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
