@model IEnumerable<GameReview.Models.Reviewer>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Reviewers</h1>

<p>
    <a asp-action="Create">Add New Reviewer</a>
</p>
<table class="table table-striped table-bordered mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
